* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Amatic SC", cursive;
  background-image: url(./img/137c1af9287223828b02529e2b2718a8.jpg);
  background-repeat: no-repeat;
  
  
  background-size: cover;
  background-attachment: fixed;
  background-position:center;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  
  height: 100vh;
}


.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    
    
    
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 250px;
}
.name {
  color: black;
  margin-top: 50px;
  background:linear-gradient(to right, blueviolet,yellow);
  padding: 5px;
  border-radius: 5px;
}
#final {
  color: yellow;
  margin-top: 20px;
  /* background-color: blueviolet; */
  padding: 10px;
  border-radius: 5px;
}

.play {
  display: flex;
  justify-content: center;
  align-content: center;
  
}

#answer {
    
    text-align: center;
    /* color: orange; */
    
    padding: 15px;
    
}
#gif {
  width: 150px;
  display: none;
  margin-top: 20px;
}
#number {
  min-width: 50%;
  height: 40px;
  border-radius: 6px;
  /* padding-left: 20px; */
  text-align: center;
  outline: none;
  font-family: "Amatic SC", cursive;
  
  font-size: 25px;
}
#check {
    margin-left: 20px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-family: "Amatic SC", cursive;
    font-size: 25px;
    background-color: blueviolet;
    /* padding-left: 100px; */
}
#check:hover {
  opacity: 0.5;
}
